doctype html
html(lang ='en')
	include header.pug
	body
		h1 Hello I <?php echo date("c");?>am Mr USA, I am building the wall 
		a(href='about.php') read about us
		p more changes here so we can test this file welcome to this simple page

		