body {
  font-weight: bold;
  background: black; }
  body p {
    color: red; }
    body p a {
      color: yellow; }
  body h1 {
    color: green; }
  body a {
    color: blue; }
    body a:hover {
      color: white; }
